/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Gotham', sans-serif;
}

body.dark-mode {
  background-color: #000;
  color: #fff;
}

body.light-mode {
  background-color: #fff;
  color: #000;
}

.navbar {
  height: 80px;
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: large;
}

.navbar-brand:focus {
  outline: 2px solid #3240D1;
}

.brand-text {
  font-size: 100px;
  text-align: center; /* Alinea el texto en el centro horizontalmente */
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
}

.brand-text-inclu {
  color: #000;
}
.dark-mode .brand-text-inclu {
  color: #FFF;
}

.brand-text-lex {
  color: #3240D1;
}

.dark-mode .brand-text-lex {
  color: #42AFFE;
}

.app-container {
  margin-top: 20vh; /* Ajusta el margen superior según sea necesario */
  display: flex;
  justify-content: center;
}

.not-found {
  font-family: 'Gotham', sans-serif;
  align-items: bottom;
  justify-content: center; 
  margin: 10vh;
}

.search-bar-container {
  display: flex;
  align-items: bottom;
  justify-content: center; 
  margin: 10vh;
}

.search-input {
  margin-right: 5px;
  padding: 10px;
  font-size: calc(2rem - 0.2rem);
  height: 8vh; /* Altura del input ajustada */
  width: 40%;
  border: 2px solid #3240D1 ; /* Color del borde del input */
  background-color: #fff; /* Color de fondo del input */
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
}

.dark-mode .search-input {
  background-color: #000;
  color: #fff;
  border: 2px solid #3240D1;
}

.search-input::placeholder {
  color: #3240D1; 
}

.dark-mode .search-input::placeholder {
  color: #fff; 
}

.search-button {
  margin-left: -5px;
  height: 8vh;
  background-color: #3240D1;
  color: #fff; 
  border: none; 
  font-family: 'Gotham', sans-serif;
  font-size: calc(2.5rem - 0.2rem);
  cursor: pointer;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
}

.search-button:focus {
  border: 2px solid #3240D1; /* Cambia el borde del elemento cuando está enfocado */
}

.dark-mode .search-button{
  background-color: #3240D1;
}

.carousel-item:focus {
  outline: 2px solid blue; /* Add a blue outline when item is focused */
}


.explanation-text {
  margin: 5vh;
  text-align: justify;
  font-family: 'Gotham', sans-serif;
  font-weight: lighter;
  color: #000;
  margin-left: 20vw;
  margin-right: 20vw;
}

.dark-mode .explanation-text {
  color: #fff; /* Color para el modo oscuro */
}

.wordmeaining-container {
  text-align: center;
  margin-top: 10px;
  height: 100vh;
}

.row-container {
  margin: 5px;
}

.col-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinea horizontalmente en el centro */
  flex-direction: column; /* Organiza las filas verticalmente */  
}

.palabra {
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  color: #3240D1;
  font-size: 70px;
  text-transform:uppercase;
  margin-top: 6vh;
}

.dark-mode .palabra {
  color: #42AFFE;
}

.subtitulo {
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 40px;
}

.dark-mode .subtitulo {
  color: #fff;
}

.texto {
  font-family: 'Gotham', sans-serif;
  color: #000;
  font-size: 21px;
  text-align: justify;
  margin-left: 35px;
}

.dark-mode .texto {
  color: #fff;
}

.custom-list-group {
  background-color: #fff;
}

.dark-mode .custom-list-group {
  background-color: #000;
}

.custom-list-group-container {
  width: 40vh;
}

.custom-list-group-item {
  text-align: center;
}

.go-back-button {
  margin-bottom: 5vh;
  margin-top: 3vh;
  padding: 8px 15px; /* Ajusta el relleno para un aspecto más agradable */
  background-color: #3240D1; /* Cambia el color de fondo del botón */
  color: #fff; /* Cambia el color del texto del botón a blanco */
  border: none; /* Elimina el borde del botón */
  font-family: 'Gotham', sans-serif;
  font-size: 30px; /* Cambia el tamaño de la fuente del botón */
  cursor: pointer;
  border-radius: 5px;
  align-items: bottom;
  font-weight: bold;
}

.dark-mode .go-back-button {
  background-color: #42AFFE;
  color: #000;
}

.go-back-button:focus {
  border: 2px solid #3240D1; /* Cambia el borde del elemento cuando está enfocado */
}

.frecuency-button {
  font-family: 'Gotham', sans-serif;
  font-size: 20px; /* Cambia el tamaño de la fuente del botón */
  font-weight: bold;
  border-radius: 0px;
}

.frecuency-button:focus {
  border: 2px solid #3240D1; /* Cambia el borde del elemento cuando está enfocado */
}

.link-sinonimo {
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.link-sinonimo:hover {
  font-weight: bold;
}

.link-sinonimo:focus {
  outline: 2px solid #3240D1; /* Add a blue outline when item is focused */
}

.switch {
  position: absolute;
  top: 20px; 
  right: 30px;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
}

.dark-mode .switch {
  color: #fff;
}

.guia-uso-container {
  margin-top: 10vh;
  font-family: 'Gotham', sans-serif;
}

.section-content {
  background-color: #f0f0f0;
  padding: 3%;
  border-radius: 1%;
  margin: 3%;

}

.dark-mode .section-content {
  background-color: #212529; /* Color para dark mode */
}

.gray-background .section-content {
  background-color: #f0f0f0; /* Color de fondo para light mode */

}

.dark-mode .list-item{
  background-color: #000; /* Color de fondo para dark mode */
  color: #fff;
}

.dark-mode .list-item:hover{
  background-color: #212529; /* Color de fondo para dark mode */
}
.list-item:focus {
  outline: 2px solid #3240D1 !important; /* Add a blue outline when item is focused */
}

.proyecto-container {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

a {
  color: #004080; /* Color azul */
  text-decoration: underline; /* Subrayado */
}

a:focus {
  outline: 2px solid #3240D1; /* Add a blue outline when item is focused */
}

.dark-mode a {
  color: #fff;
}



